{% extends 'base.html.twig' %}

{% block body %}
    <section class="anneeVoyages">
        <div class="container-img">
            <div class="container-content">
                <h1>Une année<span>de voyages</span></h1>
                <p>DES VOYAGES TESTÉS... DES IDÉES POUR PARTIR TOUTE L'ANNÉE !</p>
            </div>
        </div>
        
        <div class="top-scroll-img">
            <img src="{{ asset('img/scroll.png') }}" alt="">
        </div>

        <h2 class="section-title">Soyez un voyageur averti !</h2>
        <div class="barre"></div>
        <div class="landing-words-list">
            <span>Un mook collector.</span><span>•</span>
            <span>Des fiches pratiques.</span><span>•</span>
            <span>Une application mobile.</span><span>•</span>
            <span>Un site web</span>
        </div>
    </section>

    <section class="landing-section-split">
        <div class="landing-section-split-text">
            <h2>MOOK COLLECTOR</h2>
            <p>"Un mook (contraction de magazine et book) est un ouvrage hybride dont le format se situe entre le magazine et le livre. Il est publié de manière périodique et renferme essentiellement de grands reportages. Il comprend également des dessins et des photos servant à l’illustration des textes." — Wikipédia</p>
            <p>. Un mook annuel à collectionner grâce à sa couverture illustrée,<br>
                . Des goddies : 5 dessins originaux issus des "illustrateurs voyageurs"<br>
                de la communauté internationale Urban Sketchers<br>
                . 300 pages de reportages sous forme de "carnets de voyages"<br>
                . Des destinations testées et approuvées par nos journalistes<br>
                . 40.000 exemplaires vendus en kiosques, librairies et sur notre site<br>
                . Des fiches pratiques d'exception et détachables.<br>
                . TV YouTube</p>

            <a href="#">Voir un extrait du dernier numéro</a>
        </div>
        <div class="articlesmook">
            <img src="{{ asset('img/mook-img.png') }}" alt="">
        </div>
    </section>

    <section class="landing-section-split">
        <img src="{{ asset('img/img_fiches.png') }}" width="520" height="676" alt="">

        <div class="landing-section-split-text">
        <h2>FICHES PRATIQUES</h2>
        <p>• Minutieusement détaillées, elles vous disent tout du voyage
            décrit nos articles : Hôtels, restaurants, boutiques, musée, shopping,
            The Place to be et aussi quelle est la meilleure compagnie aérienne
            pour rejoindre par exemple San Francisco, quelles sont les meilleures
            dates, comment aller à pied de Nob Hill au Golden Gate en passant
            par des ruelles remplies de street art méconnus du grand public, arriver pile à l'heure pour être dans l'axe du soleil sur le 3ème pilier et réussir à coup sûr la photo du siècle tout en s'émerveillant de la beauté  de la Bay... ça, c'est Une Année de Voyages !

            • Des QR Codes intégrés aux fiches pratiques pour offrir une vitrine
            extra-large à nos partenaires</p>
        <div class="container-fiches">
            <a href="#">
                <div>
                    <img src="" alt="">
                </div>
            </a>
            <a href="#">
                <div>
                    <img src="" alt="">
                </div>
            </a>
            <a href="#">
                <div>
                    <img src="" alt="">
                </div>
            </a>
        </div>

        <a href="#">Voir toutes les fiches pratiques</a>
        </div>
    </section>

    <section class="landing-section-split">
        <div class="landing-section-split-text">
            <h2>APPLICATION MOBILE</h2>
            <p>Qui supprime l'obsolescence du print... Rien que ça !
                Une Année De Voyages est un mook print qui vit simultanément à
                l’ère du  numérique... C'est sur l'application que nos fiches pratiques
                seront updatées et téléchargeables ! Ainsi Une Année De Voyages
                devient une sorte de "bible" intemporelle des destinations avec des
                reportages bénéficiant d'une durée de vie illimitée... Le rêve !</p>

                <p>Qui vous dit, sous forme d'un Quizz fun et personnalisé "Quel
                voyage êtes-vous ?" dont le résultat renvoie forcément à une
                destination qui correspond à un de nos articles.</p>
        </div>

        <img src="{{ asset('img/mook-img.png') }}" alt="">
    </section>

    <section class="landing-section-popup">
        <h2>Nos partenaires</h2>

        <div class="partners">
            {% for partner in partners %}
                <a href="{{ partner.link }}" target="_blank">
                    <div>
                        <img src="{{ asset('uploads/') ~ partner.image }}" width="200" height="auto" alt="">
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>

    <section class="landing-chiffres">
        <div class="landing-chiffres-picto">
            <img src="{{ asset('img/icons/camera.png') }}" alt="">
            <h2>11</h2>
            <p>reporters photographes</p>
        </div>
        <div class="landing-chiffres-picto">
            <img src="{{ asset('img/icons/avion.png') }}" alt="">
            <h2>130</h2>
            <p>Destinations</p>
        </div>
        <div class="landing-chiffres-picto">
            <img src="{{ asset('img/icons/pages.png') }}" alt="">
            <h2>12,000,000</h2>
            <p>Pages imprimées</p>
        </div>
        <div class="landing-chiffres-picto">
            <img src="{{ asset('img/icons/cert.png') }}" alt="">
            <h2>4211</h2>
            <p>Photos sélectionnées</p>
        </div>
    </section>

    <section class="landing-annonceur-section">
        <h2 class="section-title">Les compagnies sur les réseaux sociaux</h2>
        <div class="barre"></div>

        <div class="twitter-feed">
            {% for tweet in tweets|slice(0, 3) %}
                <div class="tweet">
                    <div>
                        <img src="{{ tweet.user.profile_image_url }}" class="avatar" alt="">
                        <h2>{{ tweet.user.name }} <small>le {{ tweet.created_at|date("d/m") }} à {{ tweet.created_at|date("m:s") }}
                                <img src="{{ asset('img/twitter-icon.png') }}" width="32" height="32" alt=""></small></h2>
                    </div>

                    <p>{{ tweet.text }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="newsair">
        <h2 class="section-title">ARTICLES</h2>

        <div class="container-news">
            {% for post in posts|slice(0, 3) %}
                <div><a href="{{ path('blog_post', {slug: post.slug}) }}"><img src="{{ asset('uploads/') ~ post.image }}" width="305" height="auto" alt=""></a></div>
            {% endfor %}
        </div>

        <a href="{{ path('blog_index') }}">Voir toutes les catégories d’articles</a>
    </section>

    <section class="equipe">
        <h2 class="section-title">L'équipe</h2>

        <div class="container-equipe">
            <div>
                <img src="{{ asset('img/team1.png') }}" alt="">
                <p class="team-name">Judith Lossmann</p>
                <p>Fondatrice<br>Rédactrice en chef</p>
            </div>
            <div>
                <img src="{{ asset('img/team2.png') }}" alt="">
                <p class="team-name">Judith Lossmann</p>
                <p>Fondatrice<br>Rédactrice en chef</p>
            </div>
            <div>
                <img src="{{ asset('img/team3.png') }}" alt="">
                <p class="team-name">Judith Lossmann</p>
                <p>Fondatrice<br>Rédactrice en chef</p>
            </div>
            <div>
                <img src="{{ asset('img/team4.png') }}" alt="">
                <p class="team-name">Judith Lossmann</p>
                <p>Fondatrice<br>Rédactrice en chef</p>
            </div>
        </div>
    </section>
{% endblock %}