{% extends '@admin/layout.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body_id 'admin_post_index' %}

{% block buttons %}
    <div class="btn-group mr-2">
        <a href="{{ path('admin_post_new') }}" class="btn btn-sm btn-outline-secondary">Créer un article</a>
    </div>
{% endblock %}

{% block main %}
    <table class="table table-striped table-middle-aligned">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Date de publication</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.publishedAt|localizeddate('medium', 'short', null, 'UTC') }}</td>
                <td>
                    <a href="{{ path('admin_post_show', {'id': post.id}) }}" class="btn btn-xs">Afficher</a>
                    <a href="{{ path('admin_post_edit', {'id': post.id}) }}" class="btn btn-xs btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">Aucun résultat</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_post_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_post'|trans }}
        </a>
    </div>

    {{ parent() }}
{% endblock %}
